{% extends 'base.html.Twig' %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/accueil/css/main.css') }}" />
		 {% endblock %}
		 {% block body %}
		<!-- Wrapper -->
				<!-- Main -->
					<div id="main">
						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="single.html">Magna sed adipiscing</a></h2>
										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="assets/images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
								<footer>
									<ul class="actions">
										<li><a href="single.html" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="{{ path('user_page_profil') }}" class="logo"><img src="assets/images/logo.jpg" alt="" /></a>
								<header>
									<h2>{{ app.user.getUsername() }}</h2>
									
									<ul class="actions stacked">
										<li><a href="{{ path('social') }}" class="button fit">Following : {{ app.user.followings | length }}</a></li>
										<li><a href="#" class="button fit">Followers : {{ app.user.followers | length }}</a></li>
										<li><a href="{{ path('user_page_profil') }}" class="button fit">Post : {{ app.user.contents | length }}</a></li>
										<li><a href="{{ path('user_page_profil') }}" class="button fit" title="">Voir le profil</a></li>

									</ul>
								</header>
							</section>

					


						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>
{% endblock %}
		{% block javascripts %}
			<script src="{{ asset('assets/accueil/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/accueil/browser.min.js') }}"></script>
			<script src="{{ asset('assets/accueil/js/breakpoints.min.js') }}"></script>
			<script src="{{ asset('assets/accueil/js/util.js') }}"></script>
			<script src="{{ asset('assets/accueil/js/main.js') }}"></script>
    {% endblock %}
