{% extends 'base.html.Twig' %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/accueil/css/main.css') }}" />

<style>  
.modal-body{

	height:350px;
	overflow:hidden;

}
.modal-body:hover{overflow-y:auto;}


</style>
		 {% endblock %}
		 {% block body %}
		<!-- Wrapper -->
				<!-- Main -->
					<div id="main">
						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Titre</a></h2>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="assets/images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button large">Voir l'article</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="{{ path('user_page_profil') }}" class="logo"><img src="{{ app.user.dataUser.link }}" alt="" /></a>
								<header>
									<h2>{{ app.user.username }}</h2>
									
									<ul class="actions stacked">
										<li><a data-toggle="modal" data-target="#exampleModal" class="button fit">Following : {{ app.user.followers | length }}</a></li>
										<li><a href="#" data-toggle="modal" data-target="#exampleModal2" class="button fit">Followers : {{ app.user.followings | length }}</a></li>
										<li><a href="#" data-toggle="modal" data-target="#publierModal" class="button fit">Publier</a></li>
										<li><a href="{{ path('user_page_profil') }}" class="button fit" title="">Voir votre profil</a></li>

									</ul>
								</header>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>Votre description</h2>
								<p>{{ app.user.civility.description }}</p>
								<ul class="actions">
									<li><a href="{{ path('civility') }}" class="button">Modifier</a></li>
								</ul>
							</section>
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
								</ul>
								<p class="copyright">&copy; Friends Corp.</p>
							</section>

					</section>

			</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 13%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vos abonnements</h5>
      </div>	
      <div class="modal-body">
        {% for follow in followings %}
				<div class="request-details">
					<div class="noty-user-img">
						<img src="{{ asset(follow.following.dataUser.link) }}" alt="">
					</div>		  		
					<div class="request-info"><h3>{{follow.following.civility.firstName}}  {{follow.following.civility.name}}</h3></div>  				
				</div><!--request-detailse end-->
				<!-- code here -->
   			{% endfor %}
      </div>
    
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog" role="document"  style="margin-top: 13%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vos abonnés</h5>
      </div>
      <div class="modal-body">
      	{% for follow in followers %}
				<div class="request-details">
					<div class="noty-user-img">
						<img src="{{ asset(follow.follower.dataUser.link) }}" alt="">
					</div>		  		
					<div class="request-info"><h3>{{follow.follower.civility.firstName}}  {{follow.follower.civility.name}}</h3></div>  				
				</div><!--request-detailse end-->
				<!-- code here -->
   			{% endfor %}
      </div>
  
    </div>
  </div>
</div>

</div>

 <!-- Modal -->
<div class="modal fade" id="publierModal" tabindex="-1" role="dialog" aria-labelledby="publierModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" style="margin-top: 7%;">
		<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer une publication</h5>
      </div>
			<div class="modal-body" style="height: 100%;">
				<div class="box">
					<div class="field">
						{{ form_start(form, {'method': 'post', 'action': path('social'), 'attr': {'class': 'ui form'}}) }}
						{{ form_widget(form) }}
					</div>

					<div class="ui checkbox">
					</div>
					<div> 
						<input class="ui button" type="submit" id="_submit" value="Envoyer" />
					</div>
					{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}
