
{% extends 'base.html.Twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/accueil/css/main.css') }}" />
	<style>
	.box-img-affiche{
	height: 360px;
	}
	</style>
{% endblock %}

{% block body %}

	<section class="tiless"> 
		{% for categorie in categories %}
		<article style="width: {{size[a]}}%;" class="style{{i}} box-img-affiche">						
			<span class="image">
				<img style="width: 100%;" class="box-img-affiche"  src="{{ asset(categorie.image) }}" alt="" />
			</span>
			<a class="a-pourtel"  href="{{ path('souscategories',{"id":categorie.id})}}">
				<h2 style="color: white;">{{ categorie.name }}</h2>
				<div class="content">
					<p>Voir cette catégorie !</p>
				</div>
			</a>
		</article>
		{# boucle i -> 1 à 6 #}
		{% set i = i + 1 %}
		{% if i > 6 %}
		{% set i = 1 %}
		{% endif %}
		{# boucle a -> 1 à 10 #}
		{% set a = a + 1 %}
		{% if a > 10 %}
		{% set a = 1 %}
		{% endif %}

		{% endfor %}			
	</section>
{% endblock %}
{% block javascripts %}


{% endblock %}
