
{% extends 'base.html.Twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/multiverse/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/nav/css/main.css') }}" />
	<style>
	.img-resize{
		width: 100%;
		height: 100%;
	}
	#wrapper{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	</style>
{% endblock %}

{% block body %}

	<div id="main">
	{% for categorie in categories %}
		<article class="thumb">
			<a class="image effet-zoom" href="{{ path('souscategories',{"id":categorie.id})}}">
				<img class="img-resize" src="{{ asset(categorie.image) }}" alt="" />
			</a>
		</article>
	
	{% endfor %}

	 <article class="thumb">
			<a class="image effet-zoom" href="#">
				<img class="img-resize" src="{{ asset('assets/images/categories/logo.png') }}" alt="" />
			</a>
		</article>

		<article class="thumb">
			<a class="image effet-zoom" href="#">
				<img class="img-resize" src="{{ asset('assets/images/categories/avenir.png') }}" alt="" />
			</a>
		</article> 
</div>
{% endblock %}
{% block javascripts %}


{% endblock %}
