<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Friends</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.png') }}" />
        {% block stylesheets_before %}{% endblock %}
        {# Hover Master #}
		<link href="{{ asset('assets/hoverMaster/css/hover.css')}}" rel="stylesheet" media="all">
        {# main style #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/main/style.css')}}">
        {# template #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css')}}">

        {% block stylesheets %}
        {% endblock %}
    </head>
    {% if app.user != null %}
    <body class="is-preload"> <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <h1>
                    <a href="{{ path('social') }}">Friends</a>
                </h1>
                <nav class="links">
                    <ul>
                        <li><a href="{{ path('user_page_profil') }}">Mon profil</a></li>
                        <li><a href="{{ path('categories') }}">Catégories</a></li>
                        <li><a href="{{ path('social') }}">Notification</a></li>
                        {# <li><a href="#" data-toggle="modal" data-target="#exampleModal">Publier</a></li> #}
                    </ul>
                </nav>
                <nav class="main">
                    <ul>
                        <li class="search">
                            <a class="fa-search" href="#search">Search</a>
                            <form id="search" method="get" style="color: #E1E1E1;" action="{{ path('search') }}">
                                <input name="word" placeholder="Search" type="text"/>
                            </form>
                        </li>
                        <li class="menu">
                            <a class="fa-bars" href="#menu">Menu</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- Menu -->
            <section
                id="menu">
                <!-- Search -->
                <section>
                    <form action="#" class="search" method="get">
                        <input style="color: #E1E1E1;" name="query" placeholder="Search" type="text"/>
                    </form>
                </section>
                <!-- Links -->
                <section>
                    <ul class="links">
                        <li>
                            <a href="{{ path('user_page_profil') }}">
                                <h3>Votre profil</h3>
                                <p>Voir votre page de profil</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('civility') }}">
                                <h3>Configurer votre profil</h3>
                                <p>Modifier vos informations personnelles</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('social') }}">
                                <h3>Paramètre du compte</h3>
                                <p>Modifier les paramètres de votre compte</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('social') }}">
                                <h3>Conditions générales</h3>
                                <p>Voir la documentation</p>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- Actions -->
                <section>
                    <ul class="actions stacked">
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}" class="button large fit">Déconnexion</a>
                        </li>
                    </ul>
                </section>
            </section>
            {% endif %}
            <body>
                {% block body %}{% endblock %}
            </body>



            <!-- Button trigger modal -->


           
            {# template #}
            <script src="{{ asset('assets/nav/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/nav/js/browser.min.js') }}"></script>
            <script src="{{ asset('assets/nav/js/breakpoints.min.js') }}"></script>
            <script src="{{ asset('assets/nav/js/util.js') }}"></script>
            <script src="{{ asset('assets/nav/js/main.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


            {% block javascripts %}{% endblock %}
</html>
