<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Friends</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        {% block stylesheets_before %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/semantic/semantic.min.css') }}">
        {# main style #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/main/style.css')}}">
        {# template #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css')}}">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.png') }}"/>{# semantic #}
        <!-- laisser en premier pour pas avoir de conflit avec le template (template change les valeurs) -->
        {% block stylesheets %}
        {% endblock %}
    </head>
    {% if app.user != null %}
    <body class="is-preload"> <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <h1>
                    <a href="index.html">Friends
                    </a>
                </h1>
                <nav class="links">
                    <ul>
                        <li><a href="{{path('social')}}">Mon profil</a></li>
                        <li><a href="{{path('categories')}}">Catégories</a></li>
                        <li><a href="{{path('social')}}">Messages</a></li>
                        <li><a href="{{path('social')}}">Notification</a></li>
                        <li><a href="#">Publier</a></li>
                    </ul>
                </nav>
                <nav class="main">
                    <ul>
                        <li class="search">
                            <a class="fa-search" href="#search">Search</a>
                            <form id="search" method="get" action="{{ path('search') }}">
                                <input name="word" placeholder="Search" type="text"/>
                            </form>
                        </li>
                        <li class="menu">
                            <a class="fa-bars" href="#menu">Menu</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- Menu -->
            <section
                id="menu">
                <!-- Search -->
                <section>
                    <form action="#" class="search" method="get">
                        <input name="query" placeholder="Search" type="text"/>
                    </form>
                </section>
                <!-- Links -->
                <section>
                    <ul class="links">
                        <li>
                            <a href="{{ path('user_page_profil') }}">
                                <h3>Mon profil</h3>
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('civility') }}">
                                <h3>Configurer votre Profil</h3>
                                <p>Sed vitae justo condimentum</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('social') }}">
                                <h3>Paramètre du compte</h3>
                                <p>Phasellus sed ultricies mi congue</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('social') }}">
                                <h3>Conditions générales</h3>
                                <p>Porta lectus amet ultricies</p>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- Actions -->
                <section>
                    <ul class="actions stacked">
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}" class="button large fit">Logout</a>
                        </li>
                    </ul>
                </section>
            </section>
            {% endif %}
            <body>
                {% block body %}{% endblock %}
            </body>
            {# template #}
            	<script src="{{ asset('assets/accueil/js/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/accueil/js/browser.min.js') }}"></script>
	<script src="{{ asset('assets/accueil/js/breakpoints.min.js') }}"></script>
	<script src="{{ asset('assets/accueil/js/util.js') }}"></script>
	<script src="{{ asset('assets/accueil/js/main.js') }}"></script>
            {% block javascripts %}{% endblock %}
</html>
